.contenido{
    margin-top: 5%;
}

 button{

background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.boton{
    margin-left: 40%;
    margin-top: 3%;
}
.boton1{
    margin-left: 80%;
    margin-top: 3%;
}
.boton2{
    margin-left: 40%;
    margin-top: 3%;
}
.card{
    opacity: 80%;
    margin-left: 10%;
    background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading{
    font-size: 30px;
    margin-left: 10%;
}
.sub-heading{
    font-size: 20px;
    margin-left: 10%;
}
.icon{
    margin-left: 90%;
    margin-top: -8%;
}
.modal-bod{
    opacity: 50%;
}